name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: NixOS/nix-installer-action@main
      - run: nix fmt -- --ci
      - run: nix flake check
